.game-over-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(1);
  z-index: 999999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  height: 100%;
  width: 100%;

  &.hidden {
    display: none;
  }

  &.hide-banner {
    transform: translateY(-50%) translateX(-50%) scale(0);
  }

  &.translucent {
    opacity: 0.1;
  }

  .game-over-banner__message {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--altText);
    text-align: center;
  }

  .restart-game {
    background-color: var(--tileBackground);
    color: var(--backgroundColor);
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.375rem;
    border: none;
    font-weight: 800;
    transition: opacity 0.5s, background-color 0.125s;

    &:hover {
      background-color: var(--altText);
      cursor: pointer;
    }
  }
}
