@use "./variables" as *;

#game-container {
  background-color: var(--gameBackground);
  width: 18.4rem;
  height: 18.4rem;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: scale(0);
  opacity: 0;
  filter: saturate(0);

  &.show {
    transition: all 0.5s;
    transform: scale(1);
    opacity: 1;
    filter: saturate(1);

    &.translucent {
      opacity: 0.1;
    }
  }

  .tile-row {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .tile-container {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--tileBackground);
      border-radius: 0.5rem;
      position: relative;

      .tile {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        transition: all $animationDuration;
        position: absolute;
        color: white;

        &.despawn {
          transform: scale(0);
          filter: saturate(0);
        }

        &.value-2 {
          background-color: var(--2);

          .tile-value {
            color: var(--altText);
          }
        }

        &.value-4 {
          background-color: var(--4);

          .tile-value {
            color: var(--altText);
          }
        }

        &.value-8 {
          background-color: var(--8);
        }

        &.value-16 {
          background-color: var(--16);
        }

        &.value-32 {
          background-color: var(--32);
        }

        &.value-64 {
          background-color: var(--64);
        }

        &.value-128 {
          background-color: var(--128);
        }

        &.value-256 {
          background-color: var(--256);
        }

        &.value-512 {
          background-color: var(--512);
        }

        &.value-1024 {
          background-color: var(--1024);

          .tile-value {
            font-size: 1.25rem;
          }
        }

        &.value-2048 {
          background-color: var(--2048);

          .tile-value {
            font-size: 1.25rem;
          }
        }

        &.spawning {
          animation: spawn $animationDuration ease-out 1 forwards;
        }

        &.move-tile-up-1 {
          animation: moveTileUp1 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-up-2 {
          animation: moveTileUp2 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-up-3 {
          animation: moveTileUp3 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-down-1 {
          animation: moveTileDown1 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-down-2 {
          animation: moveTileDown2 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-down-3 {
          animation: moveTileDown3 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-left-1 {
          animation: moveTileLeft1 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-left-2 {
          animation: moveTileLeft2 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-left-3 {
          animation: moveTileLeft3 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-right-1 {
          animation: moveTileRight1 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-right-2 {
          animation: moveTileRight2 $animationDuration ease-out 1 forwards;
        }

        &.move-tile-right-3 {
          animation: moveTileRight3 $animationDuration ease-out 1 forwards;
        }

        &.shadow {
          box-shadow: rgba(255, 255, 255, 0.6) 2px 2px 10px;
        }

        .tile-value {
          font-size: 1.5rem;
          font-weight: 800;
          color: white;

          &.merged {
            animation: merged $animationDuration ease-out 1 forwards;
          }
        }
      }
    }
  }
}

@keyframes spawn {
  0% {
    transform: scale(0);
    filter: saturate(0);
  }

  30% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
    filter: saturate(1);
  }
}

@keyframes moveTileUp1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-3.68rem - 0.736rem);
  }
}

@keyframes moveTileUp2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(2 * (-3.68rem - 0.736rem)));
  }
}

@keyframes moveTileUp3 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(3 * (-3.68rem - 0.736rem)));
  }
}

@keyframes moveTileDown1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(3.68rem + 0.736rem);
  }
}

@keyframes moveTileDown2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(2 * (3.68rem + 0.736rem)));
  }
}

@keyframes moveTileDown3 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(3 * (3.68rem + 0.736rem)));
  }
}

@keyframes moveTileLeft1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3.68rem - 0.736rem);
  }
}

@keyframes moveTileLeft2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(2 * (-3.68rem - 0.736rem)));
  }
}

@keyframes moveTileLeft3 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(3 * (-3.68rem - 0.736rem)));
  }
}

@keyframes moveTileRight1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(3.68rem + 0.736rem);
  }
}

@keyframes moveTileRight2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(2 * (3.68rem + 0.736rem)));
  }
}

@keyframes moveTileRight3 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(3 * (3.68rem + 0.736rem)));
  }
}

@keyframes merged {
  0% {
    transform: scale(0);
  }

  35% {
    transform: scale(1.125);
  }

  100% {
    transform: scale(1);
  }
}
